/*color fondo de encabezado*/
.bg-azul{
	background-color: #ACF4FA;
	height: 60px;
}
/*menu principal*/
nav ul{
	list-style-type: none;
	margin: 3%;
}
nav ul li{
	display: inline-block;
	margin: 0 .5%;
}
nav ul li a{
	color: #989898;
}
nav ul li a:hover{
	color: #0E2864;
}
/*color de fondo footer*/
footer{
	background-color: #4d4545;
	color: #989898;
}
/*redes de footer*/	
.redes{
	display: inline-block;
	position: relative;
	bottom: 20px;
	margin-left: 3%;
	border-radius: 20px;
	border: 2px solid #fff;
}
#derechos{
	margin-top: 3%;
	margin-right: 5%; 
}

/*Colores*/

.Gris{
	color: #989898;
	}  
.Grisoscuro{
	color: #4d4545;
	}
.Celeste{
	color: #28c5e6;
	} 
.Anaranjado{
	color: #ff6a49;
	}  
.Verde{
	color: #77d248;
	} 
.Amarillo{
	color: #ffc200;
	} 
.blanco{
	color: #fff;
}
	/*Tipo de letra*/

*{
	font-family: 'Lato', sans-serif;
}
	/*Tamaño de letra*/
.font1{
	font-size: 1em;
}
.font2{
	font-size: 1.5em;
}
.font3{
	font-size: 2em;
}
.font4{
	font-size: 3em;
}
	/*Alinear*/
.izq{
	text-align: left;
}
.der{
	text-align: right;
}

	/*Imagenes*/
img{
	display: block;
	margin: auto;
}
	/*parrafos*/
p{
	text-align: center;
}
	/*Margenes*/
.mg-0{
	margin: 0;
}
.mt5{
	margin-top: 5%;
}	
.mt10{
	margin-top: 10%;
}
.mb5{
	margin-bottom: 5%;
}
.mb10{
	margin-bottom: 10%;
}
/*botones*/
button{
	display: block;
	margin: auto;
	padding: 2%;
	border:none;
	cursor: pointer;
}
	/*Secciones*/
section{
	width: 100%;
}	
	/*Encabezados*/
h1{
	text-align: center;
	margin-bottom: 5%;
	margin-top: 5%;
	font-size: 2.5em;
}
h2{
	text-align: center;
	margin-bottom: 5%;
}
h3{
	text-align: center;
}
/*enlaces sin decoracion*/
a{
	text-decoration: none;
}
